
.etatms_settings_view, .etatms_tariffs_view{
  margin: 0 auto;
}

.etatms{
  &_button{
    cursor: pointer;
    padding: 2px;
  }

  &_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em;
    &_title{
      display: inline-flex;
    }
    &_syncbutton{
      display: inline-flex;
      cursor: pointer;
      color: #A5673F !important;
      border-color: #A5673F !important;
      outline: none;
      align-items: center;
      user-select: none;
      text-decoration: none;
      border: 1px solid rgba(0,0,0,0.23);
      letter-spacing: 0.02857em;
      line-height: 1.75;
      border-radius: 0.28571429rem;
      font-weight: 500;
      font-family: "Roboto","Helvetica","Arial", sans-serif;
      box-sizing: border-box;
      min-width: 64px;
      font-size:0.875rem;
      background: transparent;
      &_error{
        color: #DB2828 !important;
        border-color: #DB2828 !important;
      }
    }
  }
  &_row{
    &-centered{
      margin: 0 auto;
      text-align: center;
    }
    width: 80%;
    padding: 5px;
  }

  &_tariffs{
    &_new{
      padding-right: 10px;
      display: inline-flex;
    }
    &_content{
      max-height: 600px;
    }
    &_header{
      display: block;
      background: #CEBD9B;
      border: 1px solid black;
      padding: 5px 0;
      // border-bottom: 1px dotted grey;
      &_tmsid{
        justify-content: start !important;
      }
      &_lmsids{
        justify-content: start !important;
      }
    }
    &_row{
      display: flex;
      border-bottom: 1px dotted grey
    }

    &_row:nth-child(even){
      background-color: #DFD5BD;
    }

    &_tmsid{
      display: inline-flex;
      width: 19%;
      align-items: center;
      padding-left:10px;
      justify-content: space-between;
    }

    &_lmsids{
      align-items: center;
      display: inline-flex;
      flex-wrap:wrap;
    }

    &_tmsbuttons{
      i {
        margin-left: 2px;
        margin-right: 2px;
      }
      &_commit{
        display: none;
        &-show{
          display: inline-block;
        }
      }
      display: inline-block;
      // float: right;
      padding-right: 20px;
    }

    
    &_lmsids{
      width: 80%;
    }
    &_lmstariff{
      padding: 2px 5px;
      position: relative;
      margin: 2px;
      border-radius: .25rem;
      border: 1px solid rgba(0,0,0,.125);
      display: inline-block;
      &_delete{
        display: inline-block;
        padding-left: 5px;
      }
    }
  }

  &_column{
    &_label, &_value{
      display: inline-block;
    }
    &_label{
      width: 10%;
      text-align: right;
      padding-right: 10px;
    }
    &_value{
      text-align: left;
      padding-left: 10px;
    }
  }
}